.card{
  margin: 20px 40px 0px 40px;
}

form{
  display:flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content:flex-end;
}

.buttons button{
  margin-left:1%;
}

mat-radio-button ~ mat-radio-button {
  margin-top: 10px;
  margin-left: 16px;
  margin-bottom: 20px;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}
