<mat-card class="card">
  <mat-card-title>
    Charts - Contacts
  </mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Initial surname</strong></p>
        <ngx-charts-bar-vertical [view] = "[400,300]" [results]="initialLetter" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel= "initial of surname"
        yAxisLabel="Number of contacts">

        </ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Lenght of name</strong></p>
        <ngx-charts-line-chart [view]="[400, 300]" [results] = "contactsByFullName" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Full Name Legth"
        yAxisLabel="Number of contacts">
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Extensions</strong></p>
        <ngx-charts-pie-chart [view]="[400, 300]" [results] = "emailExtension" [labels]="true" [doughnut]="true">
    
        </ngx-charts-pie-chart>
      </div>
      <div>
        <p><strong>Prefix</strong></p>
        <ngx-charts-bar-horizontal [view]="[400, 300]" [results] = "phonePrefixData" [xAxis]="true" [yAxis]="true"
        [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Number Contacts" yAxisLabel="Phone Prefix">

        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>
    Charts - Products
  </mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Price per category</strong></p>
        <ngx-charts-bar-vertical-2d  [view]="[400,300]" [legend]="true" [legendPosition]="'below'"
        [results]="valuePerCategories" [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="categorias"
        yAxisLabel="productos">
        </ngx-charts-bar-vertical-2d>
      </div>
      <div>
        <p><strong>Five Elements with greatest Stock</strong></p>
        <ngx-charts-gauge [view]="[400,300]" [results]="theBig5" [legend]="true"
        [legendPosition]="'below'">
        </ngx-charts-gauge>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Product Price by Data</strong></p>
        <ngx-charts-bar-horizontal [view]=[400,300] [results]="prodSameLenCat" [xAxis]="true" [yAxis]="true" [legend]="false" 
        [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Cuantity of Products with same Length" yAxisLabel="Categories">
        </ngx-charts-bar-horizontal>
      </div>
      <div>
        <p><strong>Prefix</strong></p>
        <ngx-charts-bar-horizontal-stacked [view]="[400, 300]" [legend]="true" [legendPosition]="'below'" [results] = "productsYear" [xAxis]="true" [yAxis]="true"
        [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="prices" yAxisLabel="Products">
        </ngx-charts-bar-horizontal-stacked>
      </div>
    </div>
  </mat-card-content>
</mat-card>