.card{
  margin: 20px 40px 0px 40px;
}

.chart-row{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}

ul.legend-labels.horizontal-legend{
  display: flex;
  justify-content: center;
  
}

.legend-title.ng-star-inserted{
  display: none;
}

.chart-legend  ul.legend-labels{
  background-color: white;
}


